[submodule "vendor/SwiftLaTeX"]
	path = vendor/SwiftLaTeX
	url = git@github.com:rmehyde/SwiftLaTeX.git
[submodule "vendor/emsdk"]
	path = vendor/emsdk
	url = https://github.com/emscripten-core/emsdk.git
